// typography

$roboto:'Roboto', sans-serif;
$ptmono:'PT Mono', monospace;

$xxx-large:70px;
$xx-large:40px;
$x-large:30px;
$large:18px;
$medium:16px;

// colors

$white:#fff;
$isabelline:#EEEDED;
$spanishgray:#989797;
$coral:#EACB31;
$buff:#F1DD7B;
$vanilla:#F5E7A1;
$flame:#E4572E;
$lightocre:#E87554;
$pastelpink:#F2B2A0;
$shinrock:#4CA866;
$turqgreen:#9DCFAB;
$pastelgray:#BDDFC7;
$bluefrance:#3C91E6;
$bluejeans:#5FA5EA;
$jordyblue:#82B9EF;
$black:#000000;
$outerspace:#454545;
$quicksilver:#A2A2A2;
