.info {
  width:100%;
  height:40vh;
  box-sizing: border-box;
}

.info__text {
  float:left;
  width:30%;
  padding:10vh 5%;
  box-sizing: border-box;
}

.info__text h3 {
  margin-bottom:20px;
}

.info__map {
  float:left;
  width:40%;
  height:40vh;
  background-color:$bluefrance;
}

.info__map-img {
  position: absolute;
  z-index: 1;
  width: 35%;
  height: 35vh;
  top: 95vh;
  left: 27%;
  object-fit: cover;
}

.info__img {
  float:left;
  width:30%;
}

.info__img-img1 {
  width: 8%;
      height: 30vh;
      object-fit: cover;
      position: absolute;
      left: 66%;
      z-index: 1;
}

.info__img-img2 {
  width:100%;
  height:47vh;
  object-fit: cover;
}
